# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
fibonacci/.idea/.idea.fibonacci/.idea/encodings.xml
fibonacci/.idea/.idea.fibonacci/.idea/indexLayout.xml
fibonacci/.idea/.idea.fibonacci/.idea/vcs.xml
fibonacci/fibonacci.vcxproj
fibonacci/fibonacci.vcxproj.filters
random_numbers/x64/Debug/random_numbers.exe.recipe
random_numbers/.idea/.idea.random_numbers/.idea/vcs.xml
random_numbers/.idea/.idea.random_numbers/.idea/indexLayout.xml
random_numbers/.idea/.idea.random_numbers/.idea/encodings.xml
random_numbers/x64/Debug/random_numbers.ilk
random_numbers/x64/Debug/random_numbers.pdb
random_numbers/x64/Debug/random_numbers.tlog/CL.read.1.tlog
random_numbers/x64/Debug/random_numbers.tlog/CL.command.1.tlog
random_numbers/x64/Debug/random_numbers.tlog/CL.write.1.tlog
random_numbers/x64/Debug/random_numbers.tlog/link.command.1.tlog
random_numbers/x64/Debug/random_numbers.tlog/link.read.1.tlog
random_numbers/x64/Debug/random_numbers.tlog/random_numbers.lastbuildstate
random_numbers/x64/Debug/random_numbers.vcxproj.FileListAbsolute.txt
random_numbers/x64/Debug/random_numbers.tlog/link.write.1.tlog
random_numbers/x64/Debug/vc142.idb
random_numbers/x64/Debug/vc142.pdb
battleships/.idea/.idea.battleships/.idea/vcs.xml
battleships/.idea/.idea.battleships/.idea/indexLayout.xml
battleships/.idea/.idea.battleships/.idea/encodings.xml
